// Here you can add other styles

@font-face{
	font-family: Shabnam;
	src: url('/fonts/Shabnam.woff');
}

.group-border-ltr > .input-group-text{
	border-bottom-left-radius: 5px !important;
	border-top-left-radius: 5px !important;
}

.group-border-ltr > .form-control{
	border-bottom-right-radius: 5px !important;
	border-top-right-radius: 5px !important;	
}

.group-border-rtl > .input-group-text{
	border-bottom-right-radius: 5px !important;
	border-top-right-radius: 5px !important;
}

.group-border-rtl > .form-control{
	border-bottom-left-radius: 5px !important;
	border-top-left-radius: 5px !important;	
}

.MuiTimePickerToolbar-hourMinuteLabel{
	direction: ltr !important;
}

body{
	font-family: "Shabnam" !important;	
}